body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  height: 100vh;
  background: skyblue;
}

button {
  cursor: pointer;
}

#canvas_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  width: 512px;
  height: 512px;
  background-color: #ffffff;
}
.btn_container {
  width: 512px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.rotate_btn {
  background-color: rgb(89, 83, 255);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border: none;
  bottom: 50px;
  padding: 10px;
  font-weight: bold;
}

.center {
  background-color: lemonchiffon;
  color: rgb(87, 0, 128);
}

.data {
  background-color: palevioletred;
}

.imageData {
  position: fixed;
  border: 1px solid black;
  padding: 12px;
  left: 20px;
  top: 20px;
}
